.blog
  display: grid
  grid-template-columns: 1fr
  +for-phone-only
    +border(top)
  +for-tablet-landscape-up
    grid-template-columns: $margin-tablet-landscape 1fr
  +for-desktop-up
    grid-template-columns: $margin-desktop 1fr
  img, iframe
    max-width: 90%
    margin: 0 auto
  header + p
    font-size: 1.25rem
  figcaption
    +border(all)
    font-size: 1rem
    display: inline-block
    margin: 0.5rem 0
    .icon
      display: inline-block
      background-image: url('/assets/images/info.svg')
      background-repeat: no-repeat
      background-position: 60%
      width: 1.5rem
      height: 1rem
      vertical-align: -0.2rem
    .desc
      display: inline-block
      padding: 0.3rem 0.75rem
      +border(left)
  hr
    width: 30px
    height: 28.8px
    border: 0
    background-image: url('/assets/images/hr.svg')
    background-size: cover
    margin: 2rem auto
    +for-tablet-portrait-up
      width: 50px
      height: 47.99px
      margin: 3rem auto
  &__title
    font-family: $freight
    text-align: left
    color: $primary
    font-size: 1.666667rem
    line-height: 1
    +for-tablet-portrait-up
      font-size: 2.222222rem
    +for-desktop-up
      font-size: 2.5rem
  &__subtitle
    font-size: 1.44444rem
    font-style: italic
    font-weight: 500
    +for-tablet-portrait-up
      font-size: 1.555555rem
  &__body
    > p:first-child
      font-weight: 500
  &__content
    +border(0 2px)
    color: $copy
    padding: 0 1rem
    max-width: 100%
    overflow: hidden
    grid-row: 2
    grid-column: 1
    +for-tablet-portrait-up
      grid-row: 2
      grid-column: 1
      +border(0)
      padding: 0 5rem
    +for-tablet-landscape-up
      grid-row: 1
      grid-column: 2
      order: 2
      padding: 0 2rem
    +for-big-desktop-up
      margin-right: $margin-desktop
      +border(right)
      padding: 0 5rem
    .footnotes
      margin: 0 -1rem
      padding: 1rem
      +for-tablet-portrait-up
        margin: 0 -5rem
        padding: 1rem 5rem
      +for-tablet-landscape-up
        margin: 0 -2rem
        padding: 1rem 2rem 
      +for-big-desktop-up
        margin: 0 -5rem
        padding: 1rem 5rem
  &__aside
    display: grid
    grid-template-columns: 1fr 1fr
    +for-tablet-portrait-up
      grid-template-columns: auto auto 50px 1fr
      grid-row: 1
      grid-column: 1
      +border(0)
      padding: 0 5rem
    +for-tablet-landscape-up
      grid-column: 1
      order: 1
      +border(right)
      display: block
      padding: 0
  &__meta
    +balboa
    font-size: 1.11111rem
    padding: 0.5rem 1.5rem
    text-align: center
    +border(0 2px 2px 0)
    +for-phone-only
      &:first-child
        +border(0 2px 2px 2px)
    &--avatar
      padding: 0
      text-align: center
      line-height: 1
      display: grid
      justify-content: center
      align-items: center
      img, picture
        width: 40px
        border-radius: 50%
      +for-phone-only
        display: none
      +for-tablet-landscape-up
        img, picture
          width: 100%
          max-width: 100%
    +for-tablet-portrait-up
      margin-top: 2rem
      +border(2px 0px 2px 2px)
      &:last-child
        +border(all)
    +for-tablet-landscape-up
      +border(bottom)
      &:last-child
        +border(bottom)
      padding: 1.25rem
      font-size: 1.333333rem
      margin: 0
      display: block
      text-align: left


  // .sidenote
  //   float: right
  //   margin-right: -40%
  //   width: 35%
  //   font-size: 0.9rem
