.teaser
  display: grid
  grid-template-columns: $margin 1fr $margin
  &:last-of-type
    border-width: 0

  &__content
    border-width: 0 2px
    border-style: solid
    grid-column: 2
    order: 2
    padding: 1rem 5rem
  &__aside
    grid-column: 1
    order: 1

  &__meta
    display: block
    padding: 1.25rem 2rem
    font-family: $balboa
    border-width: 0 0 2px 0
    border-style: solid

  h2
    font-family: $freight
    font-size: 2.2rem
    line-height: 1
    a
      text-decoration: none

  &__excerpt
    color: $copy

.blog
  display: grid
  grid-template-columns: $margin 1fr
  border-width: 2px 0 0 0
  border-style: solid
  .sidenote
    float: right
    margin-right: -40%
    width: 35%
    font-size: 0.9rem
  &__title
    font-family: $freight
    text-align: left
    color: $primary
    font-size: 2.5rem
    line-height: 1
  &__content
    border-width: 0 0 0 2px
    border-style: solid
    border-color: $primary
    order: 2
    color: $copy
    width: 60%
    padding-left: 5rem
    img
      max-width: 100%
  header + p
    font-size: 1.25rem
