.footer
  display: grid
  grid-template-columns: $margin 1fr
  border-width: 2px 0 0 0
  border-style: solid
  border-color: inherit
  font-size: 0.9rem
  div
    border-width: 0 0 0 2px
    border-style: solid
    border-color: inherit
    padding-left: 2rem
