.fancy
  height: 2.77777rem
  margin: 0
  +border(0 2px 2px 2px)
  background-size: 1920px 200px
  background-image: url('/assets/images/circles.svg')
  +for-phone-only
    &--no-phone
      display: none
  +for-tablet-portrait-up
    +border(2px 0)
