.nav
  font-family: balboa
  font-size: 1.55555rem
  +for-tablet-portrait-up
    font-size: 1.11111rem
  &__toggle
    padding: 0 1rem
    cursor: pointer
    height: 100%
    line
      stroke: $primary
      stroke-width: 3px
  ul
    list-style-type: none
    margin: 0
    padding: 0
    display: block
    // +for-phone-only
    text-align: center
    +for-tablet-portrait-up
      display: flex
      align-items: center
      justify-content: center
      height: 100%
  a
    text-decoration: none
    display: block
    padding: 1.55555rem 1rem
    // +for-phone-only
    background-color: $primary
    color: $secondary
    &:hover
      background-color: $secondary
      color: $primary
    +for-tablet-portrait-up
      padding: 0rem 1rem
      margin: 0
      background-color: transparent
      color: $primary
      line-height: 2
      &:hover
        background-color: $primary
        color: $secondary
  li
    +for-tablet-portrait-up
      +border(left)
      display: grid
      justify-content: center
      align-items: center
      height: 100%
      &:hover
        background: $primary
