.page
  border: 2px solid $primary
  margin: 2rem auto
  max-width: 1200px
  h1
    text-align: center

.page-title
  border-width: 2px 0px
  border-style: solid
  border-color: inherit
  padding: 3rem 5rem
  margin: 0
