body
  margin: 0 1rem
  background-image: url('/assets/images/background.png')
  background-size: 50px 50px

.page
  margin: 1rem auto
  max-width: 1400px
  +for-tablet-portrait-up
    +border(all)

.page-title
  +border(all)
  padding: 1.5rem 2rem
  +for-desktop-up
    +border(2px 0)
    padding: 3rem 3rem
  margin: 0
  text-align: center
