body
  margin: 0 1rem
  background-image: url('/assets/images/background.png')
  background-size: 50px 50px

.page
  border: 2px solid $primary
  margin: 1rem auto
  max-width: 1400px

.page-title
  border-width: 2px 0
  border-style: solid
  border-color: inherit
  padding: 3rem 3rem
  margin: 0
  text-align: center
