.strip
  &--circles
    background-size: 1920px 200px
    background-image: url('/assets/images/circles.svg')
  &--lines
    background-size: 1920px 400px
    background-image: url('/assets/images/lines.svg')
