html {
  font-size: 18px; }

body {
  font-family: freight-text-pro, sans-serif;
  background-color: #f1f4d1;
  color: #ea5b0c;
  font-weight: 400;
  line-height: 1.444444; }
  @media (min-width: 600px) {
    body {
      font-size: 1.22222rem; } }

h1, h2, h3, h4, h5, h6 {
  font-family: balboa, sans-serif;
  font-weight: 300; }

h1 {
  font-size: 1.55555rem;
  line-height: 1; }
  @media (min-width: 1024px) {
    h1 {
      font-size: 2.222222rem; } }
  @media (min-width: 1200px) {
    h1 {
      font-size: 3.5rem; } }

h2 {
  font-size: 1.66667rem;
  font-family: freight-text-pro, sans-serif;
  line-height: 1.2;
  margin-top: 0.25em; }
  @media (min-width: 1024px) {
    h2 {
      font-size: 2.222222rem; } }
  @media (min-width: 1200px) {
    h2 {
      font-size: 2.5rem; } }

a, h1, h2, h3 {
  color: #ea5b0c; }

p {
  color: #565544;
  margin: 1.4444rem 0; }

.teaser {
  display: grid;
  border-style: solid;
  border-color: #ea5b0c;
  border-width: 0 0 2px 0;
  grid-template-columns: 1fr; }
  .teaser:last-of-type {
    border-width: 0; }
  @media (min-width: 600px) {
    .teaser {
      grid-template-columns: 8.6rem 1fr;
      border: 0; } }
  @media (min-width: 1024px) {
    .teaser {
      grid-template-columns: 12.11111rem 1fr; } }
  @media (min-width: 1200px) {
    .teaser {
      grid-template-columns: 13.33333rem 1fr; } }
  .teaser__title {
    font-family: freight-text-pro, sans-serif;
    font-size: 1.666667rem;
    line-height: 1;
    margin-bottom: 1rem; }
    .teaser__title a {
      text-decoration: none; }
      .teaser__title a:hover {
        text-decoration: underline; }
    @media (min-width: 600px) {
      .teaser__title {
        font-size: 2.22222rem; } }
  .teaser__subtitle {
    font-size: 1.44444rem;
    font-style: italic;
    paddding: 0;
    margin: 0; }
  .teaser__content {
    border-width: 0 2px;
    border-style: solid;
    padding: 1rem 1rem 0.25rem;
    grid-row: 2; }
    @media (min-width: 600px) {
      .teaser__content {
        padding: 1rem;
        grid-column: 2;
        grid-row: 1;
        order: 2;
        border-width: 0 0 0 2px;
        padding: 2rem 2rem 1rem; }
        .teaser__content a.btn {
          font-size: 1.33333rem; } }
    @media (min-width: 1200px) {
      .teaser__content {
        margin-right: 13.33333rem;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0 2px; } }
  .teaser__aside {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-flow: row; }
    @media (min-width: 600px) {
      .teaser__aside {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0; } }
  .teaser__meta {
    font-family: balboa, sans-serif;
    padding: 0.75rem 1rem;
    text-align: center;
    font-size: 1.11111rem;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 2px 2px 2px; }
    .teaser__meta:first-child {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 0 2px 2px; }
    @media (min-width: 600px) {
      .teaser__meta {
        padding: 1.25rem 0.2rem;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 2px 0 0 0; }
        .teaser__meta:first-child {
          border-style: solid;
          border-color: #ea5b0c;
          border-width: 0; }
        .teaser__meta:last-child {
          border-style: solid;
          border-color: #ea5b0c;
          border-width: 2px 0; } }
  .teaser__excerpt {
    color: #565544; }
    .teaser__excerpt p:first-child {
      margin-top: 1rem; }

.blog {
  display: grid;
  grid-template-columns: 1fr; }
  @media (min-width: 1024px) {
    .blog {
      grid-template-columns: 12.11111rem 1fr; } }
  @media (min-width: 1024px) {
    .blog {
      grid-template-columns: 13.33333rem 1fr; } }
  .blog__title {
    font-family: freight-text-pro, sans-serif;
    text-align: left;
    color: #ea5b0c;
    font-size: 1.666667rem;
    line-height: 1; }
    @media (min-width: 600px) {
      .blog__title {
        font-size: 2.222222rem; } }
    @media (min-width: 1200px) {
      .blog__title {
        font-size: 2.5rem; } }
  .blog__subtitle {
    font-size: 1.44444rem;
    font-style: italic; }
    @media (min-width: 600px) {
      .blog__subtitle {
        font-size: 1.555555rem; } }
  .blog__content {
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 2px;
    color: #565544;
    padding: 0 1rem;
    max-width: 100%;
    overflow: hidden;
    grid-row: 2;
    grid-column: 1; }
    @media (min-width: 600px) {
      .blog__content {
        grid-row: 2;
        grid-column: 1;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0;
        padding: 0 5rem; } }
    @media (min-width: 1024px) {
      .blog__content {
        grid-row: 1;
        grid-column: 2;
        order: 2;
        padding: 0 2rem; } }
    @media (min-width: 1200px) {
      .blog__content {
        margin-right: 13.33333rem;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0 2px 0 0; } }
  .blog img, .blog iframe {
    max-width: 90%;
    margin: 0 auto; }
  .blog header + p {
    font-size: 1.25rem; }
  .blog__aside {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr; }
    @media (min-width: 600px) {
      .blog__aside {
        grid-row: 1;
        grid-column: 1;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0;
        padding: 0 5rem;
        display: block; } }
    @media (min-width: 1024px) {
      .blog__aside {
        grid-column: 1;
        order: 1;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0 2px 0 0;
        display: block;
        padding: 0; } }
  .blog__meta {
    font-family: balboa, sans-serif;
    display: inline-block;
    font-size: 1.11111rem;
    padding: 0.5rem 1.5rem;
    text-align: center;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 2px 2px 0; }
    .blog__meta:first-child {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 2px 2px 2px; }
    @media (min-width: 600px) {
      .blog__meta {
        margin-top: 2rem;
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 2px; }
        .blog__meta:first-child {
          border-style: solid;
          border-color: #ea5b0c;
          border-width: 2px 0px 2px 2px; } }
    @media (min-width: 1024px) {
      .blog__meta {
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0 0 2px 0;
        padding: 1.25rem;
        font-size: 1.333333rem;
        margin: 0;
        display: block;
        text-align: left; }
        .blog__meta:first-child {
          border-style: solid;
          border-color: #ea5b0c;
          border-width: 0 0 2px 0; } }

a.btn, .btn a {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #ea5b0c;
  padding: 0.66666rem 1rem;
  font-family: balboa, sans-serif;
  font-size: 1.11111rem;
  position: relative;
  transition-property: color;
  transition-duration: 0.2s; }
  a.btn:hover, .btn a:hover {
    color: #f1f4d1; }
    a.btn:hover:before, .btn a:hover:before {
      transform: scaleX(1); }
  a.btn:before, .btn a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ea5b0c;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-out; }

.footer {
  border-style: solid;
  border-color: #ea5b0c;
  border-width: 2px;
  display: grid;
  font-size: 0.777778rem;
  grid-template-columns: 1fr 3.6rem 3.6rem;
  grid-template-rows: 2.77777rem 3.6rem auto; }
  @media (min-width: 600px) {
    .footer {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 2px 0 0 0;
      grid-template-columns: 8.6rem 1fr 3.6rem 3.6rem;
      grid-template-rows: auto auto; } }
  @media (min-width: 1024px) {
    .footer {
      grid-template-columns: 12.11111rem 1fr 3.6rem 3.6rem; } }
  @media (min-width: 1200px) {
    .footer {
      grid-template-columns: 13.33333rem 1fr repeat(2, 6.666665rem); } }
  .footer__strip {
    grid-row: 1;
    grid-column: 1/-1;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 0 2px 0; }
  .footer__title {
    grid-row: 2;
    grid-column: 1;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 0 2px 0;
    display: grid;
    align-items: center;
    justify-content: left; }
    @media (min-width: 600px) {
      .footer__title {
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0 2px 0 0; } }
    @media (min-width: 1200px) {
      .footer__title {
        padding: 0.5rem 0; } }
  .footer__logo {
    background-image: url("/assets/images/logo_footer_mobile.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 157.22px;
    height: 43.66px;
    margin-left: 0.75rem; }
    @media (min-width: 600px) {
      .footer__logo {
        margin-right: 1rem;
        width: 114.34px;
        height: 31.75px;
        background-image: url("/assets/images/logo_footer_tablet_portrait.svg"); } }
    @media (min-width: 1024px) {
      .footer__logo {
        background-image: url("/assets/images/logo_footer_desktop.svg");
        width: 159.03px;
        height: 61.38px;
        margin-left: 1.25rem; } }
    @media (min-width: 1200px) {
      .footer__logo {
        width: 181.83px;
        height: 70.17px;
        margin-left: 1.25rem; } }
  .footer__icon {
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 0 2px 2px;
    line-height: 0; }
    @media (min-width: 600px) {
      .footer__icon {
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 0 0 0 2px; } }
    .footer__icon a {
      display: grid;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%; }
    .footer__icon svg {
      fill: #ea5b0c; }
    .footer__icon a:hover {
      background: #ea5b0c; }
      .footer__icon a:hover svg {
        fill: #f1f4d1; }
    .footer__icon--twitter {
      grid-column: 3; }
      @media (min-width: 600px) {
        .footer__icon--twitter {
          grid-column: 4; } }
      .footer__icon--twitter svg {
        width: 30px; }
    .footer__icon--email {
      grid-column: 2; }
      @media (min-width: 600px) {
        .footer__icon--email {
          grid-column: 3; } }
      .footer__icon--email svg {
        width: 22.5px; }
  .footer__impressum {
    margin: 0 0.75rem;
    grid-row: 3;
    grid-column: 1/4; }
    .footer__impressum p {
      color: #ea5b0c;
      margin: 0.5rem 0; }
    @media (min-width: 600px) {
      .footer__impressum {
        grid-row: 2;
        grid-column: 2; } }

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: auto;
  border-style: solid;
  border-color: #ea5b0c;
  border-width: 0 0 2px 0; }
  @media (max-width: 599px) {
    .header {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 2px 2px 0 2px; } }
  @media (min-width: 600px) {
    .header {
      grid-template-columns: 8.6rem 1fr auto; } }
  @media (min-width: 1024px) {
    .header {
      grid-template-columns: 12.11111rem 1fr auto;
      grid-template-rows: auto 1fr; } }
  @media (min-width: 1200px) {
    .header {
      grid-template-columns: 13.33333rem 1fr auto; } }
  .header__title {
    background-color: #ea5b0c;
    margin: 0;
    grid-column: 1;
    grid-row: 1/2;
    order: 1;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 0 2px 0; }
    @media (min-width: 600px) {
      .header__title {
        height: 100%;
        grid-column: 1;
        grid-row: 1; } }
    @media (min-width: 1024px) {
      .header__title {
        grid-row: 1/3;
        display: grid;
        align-items: center; }
        .header__title a {
          display: block; } }
  .header__h2 {
    text-indent: -9999px;
    line-height: 0; }
  .header__logo {
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0.8rem 1rem;
    width: 157.22px;
    height: 43.66px;
    background-image: url("/assets/images/logo_tablet_portrait.svg"); }
    @media (min-width: 600px) {
      .header__logo {
        margin: 0.6rem 1rem;
        width: 114.34px;
        height: 31.75px; } }
    @media (min-width: 1024px) {
      .header__logo {
        background-image: url("/assets/images/logo_tablet_landscape.svg");
        width: 159.03px;
        height: 61.38px;
        margin: 0.6rem 1.5rem; } }
    @media (min-width: 1200px) {
      .header__logo {
        background-image: url("/assets/images/logo_desktop.svg");
        width: 178.94px;
        height: 171.44px;
        margin: 1rem 1.5rem; } }
  .header__toggle {
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 0 2px 0;
    color: #ea5b0c;
    background: transparent;
    font-family: balboa, sans-serif;
    display: inline-flex;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    grid-column: 2;
    grid-row: 1;
    order: 2;
    align-self: center; }
    .header__toggle svg {
      margin-left: 1rem; }
    @media (min-width: 600px) {
      .header__toggle {
        display: none; } }
  .header__nav {
    grid-column: 1/3;
    grid-row: 2;
    order: 3;
    width: 100%;
    display: none;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 0 2px 0; }
    .header__nav.expanded {
      display: block; }
    @media (min-width: 600px) {
      .header__nav {
        grid-row: 1;
        grid-column: 3;
        display: block;
        border-width: 0; } }
  @media (min-width: 600px) {
    .header .strip {
      height: 100%; } }
  .header__strip--1 {
    grid-column: 1/3;
    grid-row: 3; }
    @media (min-width: 600px) {
      .header__strip--1 {
        grid-column: 2;
        grid-row: 1;
        height: 100%; } }
  .header__strip--2 {
    display: none; }
    @media (min-width: 1024px) {
      .header__strip--2 {
        border-style: solid;
        border-color: #ea5b0c;
        border-width: 2px 0 0 0;
        display: block;
        grid-column: 2/4;
        grid-row: 2; } }

.fancy {
  height: 2.6rem;
  margin: 0;
  border-style: solid;
  border-color: #ea5b0c;
  border-width: 0 2px 2px 2px;
  background-size: 98px 55px;
  background-image: url("/assets/images/circles.svg");
  background-position-y: center;
  min-height: 55px; }
  @media (max-width: 599px) {
    .fancy--no-phone {
      display: none; } }
  @media (min-width: 600px) {
    .fancy {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 2px 0; } }

.nav {
  font-family: balboa;
  font-size: 1.55555rem; }
  @media (min-width: 600px) {
    .nav {
      font-size: 1.11111rem; } }
  .nav__toggle {
    padding: 0 1rem;
    cursor: pointer;
    height: 100%; }
    .nav__toggle line {
      stroke: #ea5b0c;
      stroke-width: 3px; }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
    text-align: center; }
    @media (min-width: 600px) {
      .nav ul {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%; } }
  .nav a {
    text-decoration: none;
    display: block;
    padding: 1.55555rem 1rem;
    background-color: #ea5b0c;
    color: #f1f4d1; }
    .nav a:hover {
      background-color: #f1f4d1;
      color: #ea5b0c; }
    @media (min-width: 600px) {
      .nav a {
        padding: 0rem 1rem;
        margin: 0;
        background-color: transparent;
        color: #ea5b0c;
        line-height: 2; }
        .nav a:hover {
          background-color: #ea5b0c;
          color: #f1f4d1; } }
  @media (min-width: 600px) {
    .nav li {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 0 0 2px;
      display: grid;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .nav li:hover {
        background: #ea5b0c; } }

body {
  margin: 0 1rem;
  background-image: url("/assets/images/background.png");
  background-size: 35px 35px; }

.page__wrapper {
  margin: 1rem auto;
  max-width: 1400px; }
  @media (min-width: 600px) {
    .page__wrapper {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 2px; } }

.page__title {
  border-style: solid;
  border-color: #ea5b0c;
  border-width: 2px;
  margin: 0;
  text-align: center;
  padding: 1.5rem 2rem; }
  @media (min-width: 600px) {
    .page__title {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 0 2px 0;
      padding: 2rem 8rem; } }

@media (min-width: 600px) {
  .page--blog-index .page__title, .page--default .page__title {
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0; } }

.page--default .page__content {
  padding: 1rem 1.5rem; }
  @media (max-width: 599px) {
    .page--default .page__content {
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 2px; } }
  @media (min-width: 600px) {
    .page--default .page__content {
      padding: 1rem 5rem; }
      .page--default .page__content h2 {
        margin-top: 2rem; }
      .page--default .page__content h2 + p {
        font-size: 1.44444rem; }
      .page--default .page__content p {
        font-size: 1.222222rem;
        line-height: 1.454545; } }
  @media (min-width: 1024px) {
    .page--default .page__content {
      margin-left: 12.11111rem;
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 0 0 2px;
      padding: 1rem 2rem; }
      .page--default .page__content h2 {
        margin-top: 0.5rem; } }
  @media (min-width: 1024px) {
    .page--default .page__content {
      margin: 0 13.33333rem;
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 2px; } }

.if-mobile {
  display: none; }
  @media (max-width: 599px) {
    .if-mobile {
      display: block; } }

.unless-mobile {
  display: block; }
  @media (max-width: 599px) {
    .unless-mobile {
      display: none; } }

.strip {
  background-repeat: repeat; }
  .strip--circles {
    background-size: 98px 55px;
    background-image: url("/assets/images/circles.svg");
    background-position-y: center;
    min-height: 55px; }
  .strip--lines {
    background: repeating-linear-gradient(120deg, transparent 0, transparent 7px, #ea5b0c 8px, #ea5b0c 9px, transparent 10px, transparent 20px);
    min-height: 50px; }

.venn {
  text-align: center; }
  .venn__title {
    text-transform: uppercase;
    font-size: 1.11111rem;
    margin: 2rem 0;
    font-family: balboa, sans-serif; }
    @media (min-width: 1024px) {
      .venn__title {
        font-size: 1.33333rem; } }
    @media (min-width: 1200px) {
      .venn__title {
        margin: 4rem 0 3rem;
        font-size: 2rem; } }
  .venn__subtitle {
    display: none;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: #ea5b0c;
    font-weight: 300; }
    @media (min-width: 600px) {
      .venn__subtitle {
        display: block;
        width: 66%;
        margin-bottom: 2rem; } }
    @media (min-width: 1200px) {
      .venn__subtitle {
        width: 33%; } }

#venn {
  max-width: 1300px; }
  #venn path, #venn polyline, #venn foreignObject {
    transition-duration: 200ms; }
  #venn polyline, #venn foreignObject {
    display: none; }
  #venn foreignObject {
    width: 230px;
    height: 200px;
    font-family: freight-text-pro, sans-serif;
    font-size: 1rem; }
    #venn foreignObject p {
      color: #565544;
      line-height: 1.4;
      text-align: left;
      margin: 0; }
  #venn path {
    fill: transparent;
    cursor: pointer; }
  #venn polyline {
    stroke: #ea5b0c;
    fill: none;
    stroke-width: 3; }
  #venn .selected .hide,
  #venn .hovered .hide,
  #venn .hovered--2 .hide {
    display: block; }
  #venn text {
    text-anchor: middle;
    alignment-baseline: middle;
    font-family: balboa, sans-serif;
    font-weight: 300;
    fill: #ea5b0c;
    cursor: pointer; }
    #venn text .desc {
      font-family: sans-serif;
      text-transform: none; }
  #venn .one text {
    font-size: 2rem;
    text-transform: uppercase; }
  #venn .three text {
    font-size: 1.6rem; }
  #venn .selected text {
    fill: #f1f4d1; }
  #venn .selected.one path {
    fill: #ea5b0c; }
  #venn .selected.two path {
    fill: #efbc89; }
  #venn .selected.three path {
    fill: #ea5b0c; }
  #venn .hovered.one text {
    fill: #f1f4d1; }
  #venn .hovered.one path {
    fill: #ea5b0c; }
  #venn .hovered.two path {
    fill: #f0d5a9; }
  #venn .hovered.three path {
    fill: #f0d5a9; }
  #venn .hovered--2.one text {
    fill: #ea5b0c; }
  #venn .hovered--2.one path {
    fill: #f0d5a9; }
  #venn .hovered--2.two path {
    fill: #efbc89; }
  #venn .hovered--2.three path {
    fill: #efbc89; }

.windows {
  margin: 1rem auto; }
  .windows--index {
    margin-top: 2rem; }
  .windows--contact .content {
    font-size: 1.44444rem;
    padding: 0 1em;
    margin: 1rem 0; }
    .windows--contact .content a {
      color: #565544;
      text-decoration: none;
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 0 0 2px 0; }

.window {
  border-style: solid;
  border-color: #ea5b0c;
  border-width: 2px;
  margin-bottom: 1.5rem; }
  .window h2 {
    font-size: 1.33333rem;
    text-transform: uppercase;
    background-color: #ea5b0c;
    color: #f1f4d1;
    padding: 0.5em 1em;
    margin-top: 0;
    font-family: balboa, sans-serif; }
    @media (min-width: 600px) {
      .window h2 {
        font-size: 1.444444rem; } }
    @media (min-width: 1200px) {
      .window h2 {
        font-size: 1.777778rem; } }
  .window p {
    color: #565544;
    font-size: 1.11111rem;
    padding: 0.25em 1em; }
    @media (min-width: 600px) {
      .window p {
        font-size: 1.444444rem; } }
    @media (min-width: 1200px) {
      .window p {
        font-size: 1.777778rem; } }
    .window p.more {
      padding: 0;
      margin: 0;
      background-color: #f0d5a9;
      display: flex;
      border-style: solid;
      border-color: #ea5b0c;
      border-width: 2px 0 0 0; }
  .window .more a {
    display: inline-block;
    font-family: balboa, sans-serif;
    background-color: #f1f4d1;
    height: 100%;
    text-decoration: none;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 2px;
    padding: 0.25rem 0.5rem;
    margin: 0.2rem; }
    @media (min-width: 600px) {
      .window .more a {
        font-size: 1.33333rem; } }
    @media (min-width: 1024px) {
      .window .more a {
        font-size: 1.44444rem; } }
    .window .more a:hover {
      background: #ea5b0c;
      color: #f1f4d1; }
  .window span {
    flex: 1 1 auto;
    background-color: #f1f4d1;
    border-style: solid;
    border-color: #ea5b0c;
    border-width: 0 0 0 2px; }
  .window--highlight {
    background-color: #f0d5a9; }

@supports(display: grid) {
  @media (min-width: 600px) {
    .windows {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      max-width: 100%; } }
  @media (min-width: 1200px) {
    .windows {
      grid-gap: 2rem;
      margin: 2rem 3rem; } }
  .windows--index .window {
    grid-column: 2/12; }
    @media (min-width: 1024px) {
      .windows--index .window {
        margin-bottom: 3rem; }
        .windows--index .window--1, .windows--index .window--3 {
          grid-column: 2/11; }
        .windows--index .window--2 {
          grid-column: 3/12; } }
    @media (min-width: 1200px) {
      .windows--index .window--1 {
        grid-column: 3/10; }
      .windows--index .window--2 {
        grid-column: 5/12; }
      .windows--index .window--3 {
        grid-column: 4/11; } }
  @media (min-width: 600px) {
    .windows--contact .window {
      margin-top: 2rem;
      margin-bottom: 2rem; }
      .windows--contact .window--1, .windows--contact .window--3 {
        grid-column: 3/9; }
      .windows--contact .window--2 {
        grid-column: 5/11; } }
  @media (min-width: 1024px) {
    .windows--contact .window--1, .windows--contact .window--3 {
      grid-column: 4/9; }
    .windows--contact .window--2 {
      grid-column: 5/10; } }
  @media (min-width: 1200px) {
    .windows--contact .window {
      grid-column: span 4; } } }
